<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Salutation</display-name>
    <servlet-name>Salutation</servlet-name>
    <servlet-class>servlets.Salutation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salutation</servlet-name>
    <url-pattern>/Salutation</url-pattern>
  </servlet-mapping>
  <display-name>GestionUsers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>servlets.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUser</display-name>
    <servlet-name>ListUser</servlet-name>
    <servlet-class>servlets.ListUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUser</servlet-name>
    <url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>servlets.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>